//- include cards.pug {cards:['file.png']}
//- if center===true, cards will be centered
//- if no_input===true, cards will to highlight

mixin cards(cards, selected, center, no_input, required, cp)
  unless cp
    - cp='cardpicker'
  unless selected
    - selected=""
  div.row
    - let size   = cards.length;
    - let index  = 0;
    - let widths = {'-':6, '-sm-':4, '-md-':3, '-lg-':2, '-xl-':2};
    - let classes = "center-box";
    - let offsets = {};
    each width,label in widths
      - classes += ' col'+label+width;
      - offset = Math.floor((12 - (width*size%12))/2)
      - oindex = size-(size%Math.floor(12/width))
      if offset
        - offsets[oindex] = (offsets[oindex]||'') + ' offset'+label+offset;
    
    //- Don't apply offset if not at that exact width
    each offset,oindex in offsets
      each width,label in widths
        if (offset||'').indexOf(label) === -1
          - offset = offset + ' offset'+label+'0'
      - offsets[oindex] = offset
        
    for card in cards
      div(class=classes+(center ? (offsets[index]||'') : ''))
        label.card(onclick="clicklabel(this)")
          - let c = (selected === card);
          unless no_input
            if required
              input(type="radio",name=cp,checked=c,value=card,required)
            else
              input(type="radio",name=cp,checked=c,value=card)
          img(src=card, class="card-img rounded gamecard")
      - ++index
