//- include cards.pug {cards:['file.png']}
//- if center===true, cards will be centered
//- if no_input===true, cards will to highlight

mixin card_input(card, cp, selected, required)
  label.card(onclick="clicklabel(this)")
    - let c = (selected === card);
    if required
      input(type="radio",name=cp,checked=c,value=card,required)
    else
      input(type="radio",name=cp,checked=c,value=card)
    img(src=card, class="card-img-top rounded gamecard")
      
mixin card_img(card)
  div.card.h-100
    if card.cname
      div.card-header(style="height: 60px; max-height: 60px; padding: 5px")
        p.card-text
          a(href="/profile/"+card.uname)
            | #{card.cname}
            |
            | #{card.uname===uname ? t('you_tag')+' ' : ' '}
    img(src=card.card ? card.card : card, class="card-img rounded gamecard")
    if card.vote || card.uname
      div.card-body(style="height: 25%; max-height: 25%; padding:5px")
        p.card-text
          span.float-left #{t('votes')}: #{card.votes || 0}
          span.float-right #{t('score')}: #{card.score || 0}
        if card.vote
          br
          p.card-text #{t('voted_for')}:
            br
            | #{card.vote||t('no_one')}
    if card.uname
      a.card-footer.btn.btn-primary.float-left.w-100(
        style="height: 10%",
        data-toggle="modal",
        data-target="#hand_"+card.uname
      ) #{t('view_hand')}

mixin cards(cards, selected, center, no_input, required, cp)
  unless cp
    - cp='cardpicker'
  unless selected
    - selected=""
  div.row
    - let size   = cards.length;
    - let index  = 0;
    - let widths = {'-':6, '-sm-':4, '-md-':3, '-lg-':2, '-xl-':2};
    - let classes = "center-box";
    - let offsets = {};
    each width,label in widths
      - classes += ' col'+label+width;
      - offset = Math.floor((12 - (width*size%12))/2)
      - oindex = size-(size%Math.floor(12/width))
      if offset
        - offsets[oindex] = (offsets[oindex]||'') + ' offset'+label+offset;
    
    //- Don't apply offset if not at that exact width
    each offset,oindex in offsets
      each width,label in widths
        if (offset||'').indexOf(label) === -1
          - offset = offset + ' offset'+label+'0'
      - offsets[oindex] = offset
        
    for card in cards
      div(class=classes+(center ? (offsets[index]||'') : ''))
        if no_input
          +card_img(card)
        else
          +card_input(card, cp, selected, required)
      if no_input
      - ++index
