//- include cards.pug {cards:['file.png']}
//- if center===true, cards will be centered
//- if no_input===true, cards will to highlight

mixin card_input(card, cp, selected, required)
  label.card(onclick="clicklabel(this)")
    - let c = (selected === card);
    if required
      input(type="radio",name=cp,checked=c,value=card,required)
    else
      input(type="radio",name=cp,checked=c,value=card)
    img(src=card, class="card-img-top rounded gamecard")
      
mixin card_img(card, first, extra_id)
  - let cl = first ? "f" : 'o';
  - let id = "card_"+extra_id+'_'+card.uname;
  if card.uname
    div(
      class="modal fade",
      id=id,
      tabindex="-1",
      role="dialog",
      aria-labelledby="modalLabelLarge",
      aria-hidden="true",
    )
      div(class="modal-dialog modal-lg")
        div.modal-content
          div.modal-header
            h4.modal-title #{card.cname}
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          div.modal-body
            div.row
              div.col-6.col-md-4.offset-md-2
                h4 #{t('players_card')}:
              div.col-6.col-md-4
                if card.vote
                  h4 #{t('voted_for')}: #{card.vote.cname}
            div.row
              div.col-6.col-md-4.offset-md-2
                +card_img(card.card, false)
              div.col-6.col-md-4
                if card.vote
                  +card_img(card.vote.card, false)
                else
                  p #{card.quote}
                  hr
                  p #{card.expl}
            div.row-no-margin
              h4 #{t('Votes')}:
            if card.votes.length
              ul.list-inline.row-no-margin
                each vote in card.votes
                  li.list-inline-item.col-3 - #{vote}
            else
              div.row-no-margin
                p(style="margin-left:25px") #{t('no_one')}

  div.card(class=cl + (card.uname ? ' h-100' : ''))
    if card.cname
      div.card-header.green(class=cl)
        p.card-text
          a(href="/profile/"+card.uname)
            | #{card.cname}
            |
            | #{card.uname===uname ? t('you_tag')+' ' : ' '}
    img(src=card.card ? card.card : card, class="card-img rounded gamecard")
    if card.vote || card.uname
      div.card-body(style="padding:5px")
        p.card-text
          span.float-left #{t('votes')}: #{(card.votes||[]).length}
          span.float-right #{t('score')}: #{card.score || 0}
        //if card.vote
        //  br
        //  p.card-text #{t('voted_for')}:
        //    br
        //    | #{card.vote||t('no_one')}
    if card.uname
      div.card-footer.btn-group.p-0(class=cl)
        a.btn.w-50.p-0.border-left-0.border-top-0.border-bottom-0(
          class=cl,
          data-toggle="modal",
          data-target="#hand_"+card.uname
        ) #{t('view_hand')}
        a.btn.w-50.p-0.border-right-0.border-top-0.border-bottom-0(
          class=cl,
          data-toggle="modal",
          data-target="#"+id,
        ) #{t('more')}

mixin cards(cards, selected, center, no_input, required, cp, rownum)
  unless cp
    - cp='cardpicker'
  unless selected
    - selected=""
  div.row
    - let size   = cards.length;
    - let index  = 0;
    - let widths = {'-':6, '-sm-':4, '-md-':3, '-lg-':2, '-xl-':2};
    - let classes = "center-box";
    - let offsets = {};
    each width,label in widths
      - classes += ' col'+label+width;
      - offset = Math.floor((12 - (width*size%12))/2)
      - oindex = size-(size%Math.floor(12/width))
      if offset
        - offsets[oindex] = (offsets[oindex]||'') + ' offset'+label+offset;
    
    //- Don't apply offset if not at that exact width
    each offset,oindex in offsets
      each width,label in widths
        if (offset||'').indexOf(label) === -1
          - offset = offset + ' offset'+label+'0'
      - offsets[oindex] = offset
        
    for card in cards
      div(class=classes+(center ? (offsets[index]||'') : ''))
        if no_input
          +card_img(card, index===0, rownum||0)
        else
          +card_input(card, cp, selected, required)
      - ++index
