extends layout

prepend title
  - let section = "Choose Cards";
  
block content
  div  
    form(action="/caption/"+code, method="POST")
      include cards
      input(
        type="text",
        name="quote",
        value=caption,
        placeholder="Caption",
        required
      )
      input(type="submit", class="btn btn-primary", value="Submit")
    div
      | Stage Ends
      |
      b #{enddate.toISOString().replace(/[A-Z]/g, ' ')}
