extends layout

prepend title
  - let section = t('stages.choice');
  
block content
  div.card.bg-info
    h3.card-title #{t('instructions')}
    div.card-text #{t('choose_help')}
  hr
  div  
    form.form(action="/caption/"+code, method="POST")
      - let required = 1;
      - let center = true;
      include cards
      div.form-group
        lable(for="quote") #{t('caption')}:
        input(
          id="quote",
          type="text",
          name="quote",
          value=caption,
          class="form-control",
          placeholder=t('caption'),
          required
        )
      div.form-group
        label(for="explain") #{t('explanation')}:
        textarea(
          id="explain",
          name="explain",
          class="form-control",
          placeholder=t('explanation'),
          required
        ) #{explain}
      button(type="submit", class="btn btn-primary") #{t('submit_button')}
    div
      | #{t('end_date_stage')}:
      |
      b #{enddate.toISOString().replace(/[A-Z].*/, '')}
