extends layout

prepend title
  - let section = "Choose Card";
  
block content
  div  
    form.form(action="/caption/"+code, method="POST")
      - let required = 1;
      include cards
      div.form-group
        lable(for="quote") Caption:
        input(
          id="quote",
          type="text",
          name="quote",
          value=caption,
          class="form-control",
          placeholder="Caption",
          required
        )
      div.form-group
        label(for="explain") Explanation:
        textarea(
          id="explain",
          name="explain",
          value=caption,
          class="form-control",
          placeholder="Explanation",
          required
        )
      input(type="submit", class="btn btn-primary", value="Submit")
    div
      | Stage Ends
      |
      b #{enddate.toISOString().replace(/[A-Z].*/, '')}
