extends layout

prepend title
  - let section = lang.stages.choice;
  
block content
  div  
    form.form(action="/caption/"+code, method="POST")
      - let required = 1;
      include cards
      div.form-group
        lable(for="quote") #{lang.caption}:
        input(
          id="quote",
          type="text",
          name="quote",
          value=caption,
          class="form-control",
          placeholder=lang.caption,
          required
        )
      div.form-group
        label(for="explain") #{lang.explanation}:
        textarea(
          id="explain",
          name="explain",
          class="form-control",
          placeholder=lang.explanation,
          required
        ) #{explain}
      button(type="submit", class="btn btn-primary") #{lang.submit_button}
    div
      | #{lang.end_date_stage}:
      |
      b #{enddate.toISOString().replace(/[A-Z].*/, '')}
