extends layout

prepend title
  - let gamename = "Create New Game";
  - var dur = 2;
  
block content
  div  
    .error #{errmessage}
    form(action="/create", method="POST")
      table
        tr
          td
            label Game Name:
          td
            input(type="text", name="name", placeholder="Name", required)
        tr
          td
            label Stage Duration:
          td
            input(
              type="number", step="1", pattern="\d+", min=1, max=14,
              name="dur", value=dur,
              title="Interval between stages (Joining game, captioning, and voting)"
            )
            label(for="dur")
            | 
            | days.
        tr
          td
            label Decks to Use:
          td
            for deck in decks
              label
                input.checkbox-inline(
                  type="checkbox",
                  name="decks[]",
                  value=deck,
                  checked,
                  required
                )
                | #{deck}
        tr
          td
            label Scoring Method:
          td
            label.radio-inline
              input(type="radio", name="scoring", value="orig")
              a(target="_blank", href="https://en.wikipedia.org/wiki/Dixit_(card_game)#Original_Scoring") Original
            label.radio-inline
              input(type="radio", name="scoring", value="v2" checked)
              a(target="_blank", href="https://en.wikipedia.org/wiki/Dixit_(card_game)#Updated_Scoring") Updated
            label.radio-inline
              input(type="radio", name="scoring", value="rus")
              a(target="_blank", href="https://ru.wikipedia.org/wiki/Dixit_(%D0%B8%D0%B3%D1%80%D0%B0)#%D0%9D%D0%B0%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BE%D1%87%D0%BA%D0%BE%D0%B2") Russian
        tr
          td
            label Max Players (0 for no limit):
          td
            input(type="number", step="1", pattern="\d+",
              name="max", value=0, min=0
            )
      input(type="submit", class="btn btn-primary", value="Create Game")
            
  
