extends layout

prepend title
  - let gamename = "Create New Game";
  - var dur = 2;
  
block content
  div  
    .error #{errmessage}
    form(action="/create", method="POST")
      table
        tr
          td
            label Game Name:
          td
            input(type="text", name="name", placeholder="Name", required)
        tr
          td
            label Stage Duration:
          td
            input(
              type="number", step="1", pattern="\d+", min=1, max=14,
              name="dur", value=dur,
              title="Interval between stages (Joining game, captioning, and voting)"
            )
            label(for="dur")
            | 
            | days.
        tr
          td
            label Decks to Use:
          td
            for deck in decks
              label
                input.checkbox-inline(
                  type="checkbox",
                  name="decks[]",
                  value=deck,
                  checked,
                  required
                )
                | #{deck}
        tr
          td
            label Max Players (0 for no limit):
          td
            input(type="number", step="1", pattern="\d+",
              name="max", value=0, min=0
            )
      input(type="submit", class="btn btn-primary", value="Create Game")
            
  
