unless timetag
  - let timetag = t('end_date_join')

div.table-responsive
  table(class="table table-striped table-bordered")
    tr
      th(style="min-width:140px") #{t('game_name')}
      th(style="min-width:100px") #{t('stage')}
      th(style="min-width:100px") #{t('admin')}
      th(style="min-width:140px") #{t('players_and_limit')}
      th(style="min-width:120px") #{timetag}
      th(style="min-width:100px") #{t('delete')}
      
    - let index = 1
    for game in gamesarray
      if !maxdisplay || index < maxdisplay
        - ++index
        - let admin = (game.adminu === uname);
        tr
          td(style="text-align:left")
            a(href='/game/'+game.code) #{game.name}
          td #{game.stage}
          td #{game.admin}
          td #{game.joined}
            |
            | /
            |
            | #{game.max===0 ? t('no_limit') : game.max}
          td #{game.date.toISOString().replace(/[A-Z].*/, '')}
          td
            form(action='/delete/'+game.code, method='POST')
              button(
                class="btn btn-danger",
                type="submit",
                disabled=!admin,
                title=(admin 
                      ? t('delete_explain')
                      : t('delete_not_admin')
                ),
              ) #{t('delete')}
      else
        - break
