unless timetag
  - let timetag = 'Sign Up Before'

div.table-responsive
  table(class="table table-striped table-bordered")
    tr
      th Game Name
      th Stage
      th Admin
      th Players in game / Limit
      th #{timetag}
      th Delete
      
    - let index = 1
    for game in gamesarray
      if !maxdisplay || index < maxdisplay
        - ++index
        - let admin = (game.adminu === uname);
        tr
          td(style="text-align:left")
            a(href='/game/'+game.code) #{game.name}
          td #{game.stage}
          td #{game.admin}
          td #{game.joined}
            |
            | /
            |
            | #{game.max===0 ? 'No Limit' : +game.max}
          td #{game.date.toISOString().replace(/[A-Z].*/, '')}
          td
            form(action='/delete/'+game.code, method='POST')
              button(
                class="btn btn-danger",
                type="submit",
                disabled=!admin,
                title=(admin 
                      ? 'Delete the game and all its records'
                      : 'You are not the admin for this game'
                ),
              ) Delete
      else
        - break
