extends layout

include cards

prepend title
  - let section = title;

block content
  div.card.border-info
    h3.card-header #{t('instructions')}
    div.card-body #{help_msg}
  div
    form(action=action, method="POST")
      - let index = 0;
      each caption in quotes
        unless index
          hr
        unless caption.uname == uname
          lable 
            h2 #{caption.quote}
              |
              |
              if caption.cname
                small (#{caption.cname})
          +cards(caption.cards || cards, caption.selected,
                 false, false, false,
                 "picker_"+caption.id
         )
        - ++index
      button(type="submit", class="btn btn-primary") #{t('submit_button')}
  
  div
    | #{t('end_date_stage')}:
    |
    b(id='dt') #{enddate.toISOString().replace(/[A-Z].*/, '')}
    script.
      let date = formatDT(#{enddate.valueOf()}, false);
      document.getElementById('dt').innerHTML = date;
