extends ../node_modules/pug-bootstrap/_bootstrap

block head
  block title
    title #{t('title')}
      if section
        |
        | - #{section}
  meta(charset="utf-8")
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css')
  link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js')
  
  link(href='/css/main.css',  rel='stylesheet')
  link(href='/css/flags.css', rel='stylesheet')
  link(href='/css/cards.css', rel='stylesheet')
    
  meta(name="viewport", content="width=device-width,initial-scale=1.0")

block body
  nav(
    class="navbar navbar-default navbar-expand-sm navbar-light bg-light",
    role="navigation"
  )
    div.container-fluid
      div.navbar-header
        h4(class="navbar-brand w-75")
          b.navbar-band #{gamename}
            if section
              |
              | (#{section})
      button.navbar-toggler(
        type="button",
        data-toggle="collapse",
        data-target="#collapsingNavbar"
      )
        span.navbar-toggler-icon
      div(class="navbar-collapse collapse w-100"  id="collapsingNavbar")
        div(class="nav navbar-nav btn-group ml-auto")
          unless ignore_logout
            a.btn(href="/logout")
              span(class="fa fa-sign-out")
              |
              | #{t('logout')}
          unless ignore_profile
            a.btn(href="/settings")
              span(class="fa fa-cog")
              |
              | #{t('settings')}
            a.btn(href="/profile")
              span(class="fa fa-user")
              |
              | #{t('profile')}
  
  block content-outer
    div.container
      block content
