extends ../node_modules/pug-bootstrap/_bootstrap

block head
  block title
    title #{t('title')}
      if section
        |
        | - #{section}
  meta(charset="utf-8")
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css')
  link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.1.1/css/all.css")

  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js')
  
  link(href='/css/main.css',  rel='stylesheet')
  link(href='/css/flags.css', rel='stylesheet')
  link(href='/css/cards.css', rel='stylesheet')
    
  meta(name="viewport", content="width=device-width,initial-scale=1.0")
  
  script.
    function clicklabel(e) {
      i = e.childNodes[0];
      if(i.tagName.toLowerCase() == 'input') {
        i.click(); 
      }
    }

block body
  nav(
    class="navbar navbar-default navbar-expand-md navbar-light bg-light",
    role="navigation"
  )
    div.container-fluid
      div.navbar-header(w-50 mw-75)
        h4
          b #{gamename}
          if section
            |
            | (#{section})
      unless ignore_logout && ignore_profile
        button.navbar-toggler(
          type="button",
          data-toggle="collapse",
          data-target="#collapsingNavbar"
        )
          span.navbar-toggler-icon
      
      div(class="navbar-collapse collapse" id="collapsingNavbar")
        div(class="nav navbar-nav btn-group ml-auto")
          unless ignore_logout
            a.btn(href="/logout")
              span(class="fa fa-sign-out-alt")
              |
              | #{t('logout')}
          unless ignore_profile
            a.btn(href="/settings")
              span(class="fa fa-cog")
              |
              | #{t('settings')}
            a.btn(href="/active")
              span(class="fa fa-gamepad")
              |
              | #{t('games')}
            a.btn(href="/profile")
              span(class="fa fa-user")
              |
              | #{t('profile')}
  
  block content-outer
    div.container
      block content
