if loginmessage.length
  div(class="alert alert-danger")
    a(href="#" class="close" data-dismiss="alert") &times;
    strong #{t('error')}
    each msg in loginmessage
      | #{t(msg)}
    
form(action="/login", method="POST")
  table
    tr
      td(style="text-align:left")
        label #{t('username')}:
      td
        input.form-control(type="text" name="username" required placeholder="username" autofocus)
    tr
      td(style="text-align:left")
        label #{t('password')}:
      td
        input.form-control(type="password" name="password" required)
  button(type="submit", class="btn btn-primary") #{t('submit_button')}
