extends layout

prepend title
  - let gamename   = t('profile_head', user.name);
  - let maxdisplay = 6;
  unless uname
    - let uname = user.username;

block content
  if errmessage.length
    div(class="alert alert-danger")
      a(href="#" class="close" data-dismiss="alert") &times;
      strong #{t('error')}
      each msg in errmessage
        p #{t(msg)}
  div
    if games && Object.keys(games).length > 0
      - let gamesarray = games
      - let timetag = t('end_date_stage')
      h3 #{t('active_games')}
      include gamestable

      if Object.keys(games).length >= maxdisplay
        a(class="btn btn-primary" href='/active') #{t('more_results')}
    else
      h3 #{t('active_games')} - #{t('none_found')}

    if other && Object.keys(other).length > 0
      - let maxdisplay = 5;
      - let gamesarray = other
      - let timetag = t('end_date_join')
      h3 #{t('joinable_games')}
      include gamestable
      
      if Object.keys(other).length >= maxdisplay
        a(class="btn btn-primary" href='/search') #{t('more_results')}
    else
      h3 #{t('joinable_games')} - #{t('none_found')}

    if archived && Object.keys(archived).length > 0
      - let maxdisplay = 5;
      - let gamesarray = archived
      - let timetag = t('end_date_end')
      h3 #{t('archived_games')}
      include gamestable
      
      if Object.keys(archived).length >= maxdisplay
        a(class="btn btn-primary" href='/archive') #{t('more_results')}
    else
      h3 #{t('archived_games')} - #{t('none_found')}

    div
      a(class="btn btn-primary" href="/create") #{t('create_new')}
