if regmessage.length
  div(class="alert alert-danger")
    a(href="#" class="close" data-dismiss="alert") &times;
    strong #{t('error')}
    ul
      each msg in regmessage
        li #{msg}
    
form(action="/register", method="POST")
  table
    tr
      td(style="text-align:left")
        label #{t('name')}:
      td
        input.form-control(type="text" name="name" required)
    tr
      td(style="text-align:left")
        label #{t('language')}:
      td
        select.form-control
          option(value="en") English
          option(value="ru") Русский
    tr
      td(style="text-align:left")
        label #{t('username')}:
      td
        input.form-control(type="text", name="username", placeholder=t('ex_uname') required)
    tr
      td(style="text-align:left")
        label #{t('email')}:
      td
        input.form-control(type="email", name="email", placeholder=t('ex_email'))
    tr
      td(style="text-align:left")
        label #{t('password')}:
      td
        input.form-control(type="password", name="password" required)
    tr
      td(style="text-align:left")
        label #{t('conf_pass')}:
      td
        input.form-control(type="password", name="password2" required)
  button(type="submit", class="btn btn-primary") #{t('submit_button')}
