extends layout

include cards

prepend title
  - let section = t('stages.end');
  style.
    body {
      padding-right: 0 !important;
    }

block content-outer
  each hand in hands
    div(
      class="modal fade",
      id="hand_"+hand.uname,
      tabindex="-1",
      role="dialog",
      aria-labelledby="modalLabelLarge",
      aria-hidden="true",
    )
      div(class="modal-dialog modal-lg")
        div.modal-content
          div.modal-header
            h4.modal-title #{t('hand_ownership', hand.cname)}
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          div.modal-body
            +cards(hand.cards, false, true, true)

  div(class="table-responsive col-sm-4 col-md-4 col-lg-3 col-xl-2")
    table(class="table table-striped table-bordered table-sm")
      thead
        tr
          th(colspan=3) #{t('total_scores')}
        tr
          th(style="min-width:10px") #{t('header_number')}
          th(style="min-width:120px") #{t('player')}
          th(style="min-width:30px") #{t('score')}
      - let i = 0
      for score in scores.sort((a,b) => b.score - a.score)
        tr
          td #{++i}
          td
            a(href="/profile/"+score.uname)
              | #{score.cname}
              |
              | #{score.uname===uname ? t('you_tag') : ''}
          td
            span #{score.score}
  
  - let index = 0
  each caption in captions
    div.container
      div.card.border-info.mt-5
        h3.card-header #{++index}. #{caption.quote} (
          a(href="/profile/"+caption.uname)
            | #{caption.cname}
            |
            | #{caption.uname===uname ? t('you_tag') : ''}
          | )
          div.card-body #{caption.explain || t('no_explain')}
      +cards(caption.cards, false, true, true)
        
