extends layout

prepend title
  unless path
    - path = 'search';
  unless title
    - title = 'Joinable';
  unless uname
    - uname = user.username;
  - gamename = title;
  - self = (uname===user.username); 
  if !self
    - path = path + '/' + user.username 
    
mixin gamebuttons
  a.btn.btn-info(href='/active')
    span(class="fa fa-gamepad")
    |
    | #{t('active_games')}
  a.btn.btn-info(href='/search')
    span(class="fa fa-door-open")
    |
    | #{t('joinable_games')}
  a.btn.btn-info(href='/archive')
    span(class="fa fa-archive")
    |
    | #{t('archived_games')}

mixin pages
  if count > 1
    nav(aria-label="Page navigation")
      ul.pagination.justify-content-center
        li.page-item
          a.page-link(href='/'+path+'/1') #{t('first_page')}
        - for(let i=Math.max(2,page-3); i<Math.min(page+4,count); ++i) {
          if page === i
            li(class="page-item active")
              a(class="page-link" href='#') #{i}
          else
            li(class="page-item active")
              a.page-link(href='/'+path+'/'+i) #{i}
        - }
        li.page-item
          a.page-link(href='/'+path+'/'+(count)) #{t('last_page')}

block content
  div.content
    if self
      div.btn-group.d-none.d-sm-none.d-md-block
        +gamebuttons
      div.btn-group.btn-group-vertical.d-block.d-md-none
        +gamebuttons
    
    +pages

    if games && Object.keys(games).length > 0
      - let gamesarray = games
      include gamestable
    else
      h3 #{t('none_found')}

    +pages
    
    div
      a(class="btn btn-primary" href="/create") #{t('create_new')}
      
