extends layout

prepend title
  - let admin = (username === players[0].username);
  - let section = lang.stages.join;

block content
  div
    form(action="/next/"+gameid, method="POST")
      table(class="table table-striped table-bordered")
        - let index = 0
        thead
          tr
            th(colspan=(admin ? 3 : 2)) #{lang.header_players_list}
          tr
            th(style="width: 4%") #{lang.header_number}
            if admin
              th(style="width: 6%") #{lang.header_include_player}
            th #{lang.header_name}
        each player in players
          tr
            td(style="text-align:center") #{++index}
            if admin
              if index !== 1
                td(style="text-align:center")
                  input(
                    class="checkbox",
                    type="checkbox",
                    name="players[]",
                    value=player.username,
                    checked
                  )
              else
                td
            td(style="text-align:center")
              | #{player.name} #{index===1 ? lang.admin_tag : ''}
      if (new Date()) < enddate
        if !admin
          if players.map(p => p.username).includes(username)
            button(
              class="btn btn-primary",
              formaction="/leave/"+gameid,
              type='submit',
              formmethod="POST",
            ) #{lang.leave_button}
          else
            - let can_join = players.length<maxplayers || maxplayers===0;
            button(
              class="btn btn-primary",
              formaction="/join/"+gameid,
              type='submit',
              formmethod="POST",
              disabled=!can_join,
              title=(can_join ? false : lang.game_full),
            ) #{lang.join_button}
        div
          | #{lang.end_date_join_alt}
          |
          b #{enddate.toISOString().replace(/[A-Z].*/, '')}
      else if admin
        div
          | #{lang.game_full_long}
          button(
            class="btn btn-primary",
            formaction="/join/"+gameid,
            type='submit',
            formmethod="POST",
            title=lang.deadline_reached,
          ) #{lang.deadline_button}
      else
        div
          | #{lang.end_date_join_alt} (
          b #{enddate.toISOString().replace(/[A-Z].*/, '')}
          | )
      div
        | #{lang.max_players}
        |
        b #{maxplayers === 0 ? "None" : maxplayers}
      if admin
        - let can_start = players.length >= 3;
        button(
          class=(can_start ? "btn btn-primary" : "btn btn-disabled"),
          type='submit',
          disabled=!can_start,
          title=(can_start ? false : lang.lacking_players),
        ) #{lang.start_button}
