extends layout

prepend title
  - let admin = (username === players[0].username);
  - let section = "Game Setup";

block content
  div
    form(action="/next/"+gameid, method="POST")
      table(class="table table-striped table-bordered")
        - let index = 0
        thead
          tr
            th(colspan=(admin ? 3 : 2)) Players in game:
          tr
            th(style="width: 4%") #
            if admin
              th(style="width: 6%") Include
            th Name
        each player in players
          tr
            td(style="text-align:center") #{++index}
            if admin
              if index !== 1
                td(style="text-align:center")
                  input(
                    type="checkbox",
                    name="players[]",
                    value=player.username,
                    checked
                  )
              else
                td
            td(style="text-align:center")
              | #{player.name} #{index===1 ? '(Admin)' : ''}
      if (new Date()) < enddate
        if !admin
          if players.map(p => p.username).includes(username)
            button(
              formaction="/leave/"+gameid,
              type='submit',
              formmethod="POST",
            ) Leave Game
          else
            - let can_join = players.length<maxplayers || maxplayers===0;
            button(
              formaction="/join/"+gameid,
              type='submit',
              formmethod="POST",
              disabled=!can_join,
              title=(can_join ? false : 'Player limit reached'),
            ) Join Game
        div
          | Registration Closes
          |
          b #{enddate.toISOString().replace(/[A-Z]/g, ' ')}
      else if admin
        div
          | Joining Deadline Reached, new users can't join game
          button(
            class="btn btn-primary",
            formaction="/join/"+gameid,
            type='submit',
            formmethod="POST",
            title="Deadline Reached, click to extend",
          ) Extend Deadline
      else
        div
          | Registration Closed (
          b #{enddate.toISOString().replace(/[A-Z]/g, ' ')}
          | )
      div
        | Max players
        |
        b #{maxplayers === 0 ? "None" : maxplayers}
      if admin
        - let can_start = players.length >= 3;
        button(
          class=(can_start ? "btn btn-primary" : "btn btn-disabled"),
          type='submit',
          disabled=!can_start,
          title=(can_start ? false : 'Not enough people'),
        ) End Setup
