extends layout

prepend title
  - let admin = (username === players[0].username);
  - let section = t('stages.join');

block content
  div
    if starterr.length
      div(class="alert alert-danger")
        a(href="#" class="close" data-dismiss="alert") &times;
        strong #{t('error')}
        ul
          each msg in starterr
            li #{msg}
            
    form(action="/next/"+gameid, method="POST")
      table(class="table table-striped table-bordered")
        - let index = 0
        thead
          tr
            th(colspan=(admin ? 3 : 2)) #{t('header_players_list')}
          tr
            th(style="min-width:10px; width:4%") #{t('header_number')}
            if admin
              th(style="min-width:20px; width:6%") #{t('header_include_player')}
            th(style="min-width:140px") #{t('header_name')}
        each player in players
          tr
            td(style="text-align:center") #{++index}
            if admin
              if index !== 1
                td(style="text-align:center")
                  input(
                    class="checkbox",
                    type="checkbox",
                    name="players[]",
                    value=player.username,
                    checked
                  )
              else
                td
            td(style="text-align:center")
              | #{player.name}
              |
              | #{index===1 ? t('admin_tag') : ''}
              |
              | #{player.username===username ? t('you_tag') : ''}
      if (new Date()) < enddate
        if !admin
          if players.map(p => p.username).includes(username)
            button(
              class="btn btn-primary",
              formaction="/leave/"+gameid,
              type='submit',
              formmethod="POST",
            ) #{t('leave_button')}
          else
            - let can_join = players.length<maxplayers || maxplayers===0;
            button(
              class="btn btn-primary",
              formaction="/join/"+gameid,
              type='submit',
              formmethod="POST",
              disabled=!can_join,
              title=(can_join ? false : t('game_full')),
            ) #{t('join_button')}
        div
          | #{t('end_date_join_alt')}
          |
          b(id='dt') #{enddate.toISOString().replace(/[A-Z].*/, '')}
      else if admin
        div
          | #{t('game_full_long')}
          button(
            class="btn btn-primary",
            formaction="/extend/"+gameid,
            type='submit',
            formmethod="POST",
            title=t('deadline_reached'),
          ) #{t('deadline_button')}
      else
        div
          | #{t('end_date_join_alt')} (
          b(id='dt') #{enddate.toISOString().replace(/[A-Z].*/, '')}
          | )
      script.
        let date = formatDT(#{enddate.valueOf()}, false);
        document.getElementById('dt').innerHTML = date;
      div
        | #{t('max_players')}
        |
        b #{maxplayers === 0 ? "None" : maxplayers}
      if admin
        - let can_start = players.length >= 3;
        button(
          class=(can_start ? "btn btn-primary" : "btn btn-disabled"),
          type='submit',
          disabled=!can_start,
          title=(can_start ? false : t('lacking_players')),
        ) #{t('start_button')}
