extends layout

prepend title
  - let waiting = 0;
  - let section = t('stages.wait');

block content
  - let admin = (uname === players[0].uname);
  - let pwait = [], pdone = [];
  each player in players
    - (player.stat ? pdone : pwait).push(player);
  - players = pwait.concat(pdone)
  div.table-responsive
    table(class="table table-striped table-bordered")
      - let index = 0
      tr
        th(colspan=3 style="min-width:50px") #{t('stages.wait')}
      tr
        th(style="min-width:10px;width:3%") #{t('header_number')}
        th(style="min-width:150px")         #{t('header_name')}
        th(style="min-width:40px")          #{t('header_status')}
      each player in players
        if !player.stat
          - ++waiting;
        tr
          td #{++index}
          td #{player.name}
          td #{player.stat ? t('status_done') : t('status_waiting')}
    div
      if waiting === 0
        | #{t('end_date_advance')}:
        |
        b(id='dt') #{enddate.toISOString().replace('T', ' ').replace(/\..*/, '')}
          |
          | (#{t('utc')})
        script.
          let date = formatDT(#{enddate.valueOf()}, true);
          document.getElementById('dt').innerHTML = date;
      else
        | #{t('end_date_stage')}:
        |
        b(id='dt') #{enddate.toISOString().replace(/[A-Z].*/, '')}
        script.
          let date = formatDT(#{enddate.valueOf()}, false);
          document.getElementById('dt').innerHTML = date;
    div
      if admin && waiting === 0
        form.btn-group(action="/next/"+gameid, method="POST")
          a(href="?edit", class="btn btn-primary") #{t('edit_button')}
          button(type='submit', class="btn btn-success") #{t('next_button')}
      else
        a(href="?edit", class="btn btn-primary") #{t('edit_button')}
        
