extends layout

prepend title
  - let waiting = 0;
  - let section = t('stages.wait');

block content
  - let admin = (uname === players[0].uname);
  div.table-responsive
    table(class="table table-striped table-bordered")
      - let index = 0
      tr
        th(colspan=3) #{t('stages.wait')}
      tr
        th(style="width:3%") #{t('header_number')}
        th                   #{t('header_name')}
        th                   #{t('header_status')}
      each player in players
        if !player.stat
          - ++waiting;
        tr
          td #{++index}
          td #{player.name}
          td #{player.stat ? t('status_done') : t('status_waiting')}
    div
      | #{t('end_date_stage')}:
      |
      b #{enddate.toISOString().replace(/[A-Z].*/, '')}
    div
      if admin && waiting === 0
        form.btn-group(action="/next/"+gameid, method="POST")
          a(href="?edit", class="btn btn-primary") #{t('edit_button')}
          button(type='submit', class="btn btn-success") #{t('next_button')}
      else
        a(href="?edit", class="btn btn-primary") #{t('edit_button')}
        
